@charset "UTF-8";

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

.section-title {
  font-size: 30px;
  font-weight: bold;
  margin: 30px 0;
  text-align: center;
}

img {
  display: block;
  width: 100%;
}

.wrap {
  width: 80%;
  margin: 0 auto 50px;
}

.flex {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.between {
  justify-content: space-between;
}

.around {
  justify-content: space-around;
}

header {
  height: 70px;
  background: black;
}

.header-logo {
  font-size: 20px;
  font-weight: bold;
  margin-left: 35px;
  color: #f2f2f2;
  line-height: 70px;
}

.header-nav li {
  display: inline-block;
  margin-right: 35px;
  font-size: 16px;
}

.header-nav a {
  color: #f2f2f2;
}

#eyecatch {
  height: 800px;
  width: 100%;
  background: url(../img/eyecatch.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

#eyecatch p {
  position: absolute;
  top: 65%;
  left: 25%;
  transform: translate(-50%, -50%);
  font-size: 45px;
  font-style: italic;
  font-weight: bold;
  color: #ccc;
  line-height: 1;
}

.eyecatchp2 {
  color: white;
  background: black;
  height: 20px;
  position: absolute;
  top: 90%;
}

#about {
  background-color: black;
  height: 400px;
  width: auto;
}

.about-center h1,
.about-center p {
  margin-bottom: 30px;
  color: white;
  margin-left: 7cm;
  margin-right: 7.5cm;
  line-height: normal;
  position: relative;
  z-index: 2;
}

.about-center2 {
  position: absolute;
  width: 550px;
  z-index: 0;
  top: 128%;
  right: 1cm;
}

.about-center h1 {
  margin-top: 3cm;
  font-size: 30px;
  z-index: 1;
}

.about-center-link {
  color: black;
  padding: 5px 20px;
  font-size: 14px;
  text-decoration: none;
  cursor: pointer;
  transition: 0.4s ease;
  background: white;
  position: absolute;
  left: 7cm;
}

.news {
  display: flex;
  justify-content: flex-end;
}

.content {
  padding: 10px 150px;
  background: white;
  position: absolute;
  right: 3cm;
  top: 111%;
}

.content p {
  color: black;
  font-size: 14px;
  position: relative;
  right: 4cm;
}

.content p2 {
  color: black;
  font-size: 12px;
  position: relative;
  right: 3.7cm;
}

.content2 {
  color: white;
  padding: 20px 60px;
  background: black;
  position: absolute;
  top: 111%;
  font-size: 12px;
}

#business {
  background: lightgray;
  background-size: cover;
  margin-top: 150px;
  height: 1400px;
  width: 100%;
}

#business .section-title {
  color: black;
  padding: 10px 0;
  margin: 0;
}

.business-wrap {
  text-align: center;
}

.business-cat {
  width: 600px;
  background-color: white;
  padding: 50px 35px 30px;
  height: 200px;
  position: relative;
  left: 200px;
  top: 120px;
}

.business-cat h3 {
  margin: 20px;
  text-align: left;
}

.business-cat p {
  color: black;
  line-height: 20px;
  text-align: left;
  margin: 20px;
  font-size: 15.2px;
}

.business-cat-link {
  margin-left: 450px;
  padding: 5px 20px;
  /* 上下に5px、左右に20px */
  font-size: 14px;
  color: black;
  text-decoration: none;
  /* テキストのスタイルを消す */
  cursor: pointer;
  border: 1px black solid;
  /* 境界線を引く */
  transition: 0.4s ease;
  /* スタイルが変化する時間 */
}

.business-cat-link:hover {
  color: #fff;
  background: black;
}

.business-about {
  width: 50%;
  margin-top: -7cm;
  margin-left: 20.1cm;
}

.business-cat2 {
  width: 600px;
  background-color: white;
  padding: 50px 35px 30px;
  height: 200px;
  position: relative;
  right: 5cm;
  top: 800px;
}

.business-cat2 p {
  color: black;
  line-height: 20px;
  text-align: left;
  margin: 20px;
  font-size: 15.2px;
}

.business-cat2 h3 {
  margin: 20px;
  text-align: left;
}

.business-cat2-link {
  margin-left: 450px;
  padding: 5px 20px;
  /* 上下に5px、左右に20px */
  font-size: 14px;
  color: black;
  text-decoration: none;
  /* テキストのスタイルを消す */
  cursor: pointer;
  border: 1px black solid;
  /* 境界線を引く */
  transition: 0.4s ease;
  /* スタイルが変化する時間 */
}

.business-cat2-link:hover {
  color: #fff;
  background: black;
}

.business-about2 {
  width: 50%;
  margin-top: 5cm;
  margin-right: 20.1cm;
}

body {
  color: white;
}

.parent {
  display: flex;
  justify-content: space-between;
}

.child {
  width: 46%;
  height: 200px;
  padding: 10px;
  margin-top: 150px;
  background: url(../img/company.jpeg);
  background-size: cover;
  background-position: center;
  position: relative;
}

.child h1 .child2 h1 {
  color: white;
  position: absolute;
  left: 50%;
  top: 45%;
  font-size: 36px;
}

.child p .child2 p {
  color: white;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  font-weight: bold;
}

.child2 {
  width: 46%;
  height: 200px;
  padding: 10px;
  margin-top: 150px;
  background: url(../img/recruit.jpg);
  position: relative;
  background-size: cover;
  background-position: center;
}

#quesion {
  height: 100px;
  margin-top: 150px;
  margin-right: 5cm;
  margin-left: 6.5cm;
  background: black;
  width: 70%;
  position: relative;
}

#quesion p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 15px;
  font-style: italic;
  color: white;
}

#quesion h1 {
  font-size: 25px;
  position: absolute;
  top: 40%;
  left: 1cm;
}

.text-image {
  position: relative;
  width: 100%;
  margin-top: 150px;
}

.text-image img {
  width: 100%;
}

.text-image p {
  position: absolute;
  top: 55%;
  left: 4cm;
  font-size: 16px;
  color: #ffffff;
}

.text-image h1 {
  color: white;
  font-size: 26px;
  position: absolute;
  top: 48%;
  left: 15cm;
}

.text-image h2 {
  color: white;
  font-size: 35px;
  position: absolute;
  top: 37%;
  left: 18.2cm;
}

.text-image h3 {
  color: white;
  font-size: 18px;
  position: absolute;
  top: 42%;
  left: 18.7cm;
}

.text-image-link {
  color: white;
  margin-left: 450px;
  padding: 15px 40px;
  /* 上下に5px、左右に20px */
  font-size: 14px;
  text-decoration: none;
  /* テキストのスタイルを消す */
  cursor: pointer;
  border: 1px white solid;
  /* 境界線を引く */
  transition: 0.4s ease;
  /* スタイルが変化する時間 */
  position: absolute;
  top: 60%;
  left: 15%;
}

#main {
  height: 70px;
  background: #000;
}

.main-logo {
  font-size: 20px;
  font-weight: bold;
  margin-left: 35px;
  color: #f2f2f2;
  line-height: 70px;
}

.main-nav li {
  display: inline-block;
  margin-right: 35px;
  font-size: 16px;
}

.main-nav a {
  color: #f2f2f2;
}

#footer {
  width: 100%;
  background: black;
  color: white;
  text-align: center;
  height: 1cm;
  position: absolute;
}

@media screen and (max-width: 768px) {
#hamburger {
  width: 40px;
  height: 40px;
  position: absolute;
  cursor: pointer;
  z-index: 100;
  top: 15px;
  right: 20px;
  transition: 0.4s;
}

#hamburger span {
  position: absolute;
  left: 2px;
  display: block;
  width: 35px;
  height: 2px;
  background-color: #fff;
  transition: 0.8s;
}

#hamburger span:nth-of-type(1) {
  top: 10px;
  /* ハンバーガーメニューの1本目の棒 */
}

#hamburger span:nth-of-type(2) {
  top: 20px;
  /* ハンバーガーメニューの2本目の棒 */
}

#hamburger span:nth-of-type(3) {
  top: 30px;
  /* ハンバーガーメニューの3本目の棒 */
}

.header-nav {
  display: none;
  /* デスクトップのナビを消す */
}

.content,
.content2{
  width: 80%;
}

.business-cat{
  position: relative;
  width: 80%; 
  left: 0cm;
}

.business-cat-link{
  position: absolute;
  left: -60%;
}

.bisiness-cat2,
.business-cat2-link{
  position: relative;
}

.business-cat h3,
.business-cat p{
  width: 80%;
  
}

.business-about,
.business-about2{
  width: 80%;
}

.about-center,
.about-center-link,
.about-center2{
  width: 80%;
}

.about-center h1,
.about-center p{
  width: 80%;
}

#quesion{
  position: relative;
  left: -60%;
}
}
